* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

h1{
      color:aliceblue;
      font-family: Arial;
      font-size: 80px;



}

/** margim de conteudo especifico, para centralizar na tela */
.container-grid {
    width: 90%;
    margin: 0 auto;
    
    
    
}


/**  estilo e formatação do conteudo do header da pagina web */
header {
    background-color: #F9003D;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 99;
}

/**  alinhamento e posicionamento dos filhos do nosso header */
.conteudo-header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    
    
    
}

/**  tamanha da imagem do logo */
.logo {
    height: 40px;
}


/**  Estilo e formatação do conteudo do nosso banner */
.banner {
    background-image: url(imagem-fundo-banner.jpg);
    height: 768px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/**  posicionamento e alinhamento para determinar a posição dos elementos de texto */
.conteudo-banner {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.banner-conteudo-texto{        
    height: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    
}

.linha-amarela{
    border: solid 1px #FFAF00
    


}
/** minha pagina web */
.sub-texto-banner{
    font-family: 'Courier New', Courier, monospace;
    color:#F9003D;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    

}  


.mouse{
    width: 80px;



}


.menu-de-navegacao{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    



}

/** uma forma de alterar uma propriedade dentro de uma classe */
/** 1em é um tamanho que se altera de acordo com o tamanho da pagina*/
.menu-de-navegacao a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-transform: uppercase;



}

.contate-nos{
    height: 45px;
    width: 150px;
    background-color: #a259f7;
    display:flex;
    align-items: center;
    justify-content: center;
    border: solid #000 2px;
    box-shadow: 4px 4px 6px black;
   



}

/**hover permite acontecer uma ação somente quando eu passo o mouse em cima*/
/** o not serve para vc excluir uma classe da função que vc colocou no hover*/-+
.menu-de-navegacao a:hover:not(.contate-nos){
    transition: 1s;
    font-size: 20px;
    




}

footer{
    height: 80px;
    background-color: #F9003D;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}


footer span{
    text-transform: uppercase;
    font-size: 1em;
    color:white;



}

.seção{
    display:flex;
    flex-direction: row;




}

.conteudo-um{
    background-color: rgb(180, 116, 116);
    width: 50%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;




}

.conteudo-dois{
    background-color: rgb(180, 116, 116);
    width: 50%;
    height: 800px;



}

.conteudo-um span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    

}

.conteudo-um h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;


}

.descrição-do-senai{
    height: 300px;
    display: flex;
    align-items: center;
    width: 800px;
    


}

.imagem-senai{
    border: solid #000 2px;
    display: flex;
    align-items: center;
    box-shadow: 4px 4px 6px #000;







}


