* {
    margin: 0;
    padding: 0;

}


html, body {
    margin: 0;
    padding: 0;
    font-family: Arial;

}


h1{
      color:aliceblue;
      font-family: Arial;
      font-size: 80px;

}


/** margim de conteudo especifico, para centralizar na tela */
.container-grid {
    width: 90%;
    margin: 0 auto;
    
}


/**  estilo e formatação do conteudo do header da pagina web, z index serve para dizer que a imagem que estiver
com maior index vai aparecer na frente da outra*/
header {
    background-color: #F9003D;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 99;

}


/**  alinhamento e posicionamento dos filhos do nosso header */
.conteudo-header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
        
}


/**  tamanha da imagem do logo */
.logo {
    height: 40px;

}


/**  Estilo e formatação do conteudo do nosso banner
cover serve para a imagem cobrir toda a div
position é pra centralizar a imagem
no repeat serve para a imagem nao ficar repetindo ao longo da div */
.banner {
    background-image: url(imagem-fundo-banner.jpg);
    height: 768px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}


/**  posicionamento e alinhamento para determinar a posição dos elementos de texto */
.conteudo-banner {
    display: flex;
    align-items: flex-end;
    height: 100%;

}


.banner-conteudo-texto{        
    height: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
}


.linha-amarela{
    border: solid 1px #FFAF00

}


/** minha pagina web uppercase serve para deixar todo o texto dentro da div em maiusculo
font-weight altera a expessura da fonte*/
.sub-texto-banner{
    font-family: 'Courier New', Courier, monospace;
    color:#F9003D;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    
}  


.mouse{
    width: 80px;

}


.menu-de-navegacao{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}


/** uma forma de alterar uma propriedade dentro de uma classe */
/** 1em é um tamanho que se altera de acordo com o tamanho da pagina*/
.menu-de-navegacao a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-transform: uppercase;

}

/** box shadow permit fazer a imagem ficar mais destacada, com uma sombra*/
.contate-nos{
    height: 45px;
    width: 150px;
    background-color: #a259f7;
    display:flex;
    align-items: center;
    justify-content: center;
    border: solid #000 2px;
    box-shadow: 4px 4px 6px black;
   
}


/**hover permite acontecer uma ação somente quando eu passo o mouse em cima*/
/** o not serve para vc excluir uma classe da função que vc colocou no hover*/-+
.menu-de-navegacao a:hover{
    transition: 1s;
    font-size: 20px;
    
}


footer{
    height: 80px;
    background-color: #F9003D;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

/**texto do footer*/
footer span{
    text-transform: uppercase;
    font-size: 1em;
    color:white;

}


.secao{
    display:flex;
    flex-direction: column;
    background-color: rgb(29, 13, 29);

}

/** contem a imagem do portão do senai mais "Sobre os projetos"*/
.conteudo-um{
    width: 50%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    
}

/** pai do conteudo-um*/
.pai{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 

}

/**contem as divs e os textos: participantes, mais de 80 alunos e lorem ipsum*/
.conteudo-dois{    
    width: 50%;
    height: 1000px;
    
}

/** pai do conteudo dois todo*/
.pai-dois{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 

}

/** div da palavra participantes*/
.participantes{
    width: 70%;
    height: 223px;
    display: flex;
    align-items: flex-end;

}

/** contem a palavra participantes e suas formatações*/
.participantes span{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;

}

/** div do subtitulo "mais de 80 alunos*/
.subtitulo{
    height: 120px;
    width: 70%;

}

/** texto formatado mais de 80 alunos*/
.subtitulo span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 47px;
    color:orange;
    
}

/**contem a div do texto lorem ipsum...*/
.texto{
    height: 400px;
    width: 70%;
    

}

/** contem a formatação do texto lorem ipsum*/
.texto span{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    

}

/** contem o texto sobre os nossos projetos alem de ser uma div*/ 
.sobre-nos{
    width: 850px;
    margin:10px;
    height: 150px;
    display: flex;
    align-items: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-size: 65px;

}

/** div envolvendo a imagem do portão do senai*/
.imagem-senai{
    background-image: url(senai-portao.jpeg);
    background-size: cover;
    width: 850px;
    height: 700px;
    
}

/** uma div que cobre tudo desde o conteudo um ate o conteudo 2 */
.conteudo-total{
    display: flex;
    


}


.conteudo-tres{
    display: flex;
    justify-content: space-between;
    

}


.info{
    display: flex;
    
    background-image: url(imagem-fundo-info.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}


.sobre-local{
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;    
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 20px;

}


.local{
    width: 250px;
    height: 50px;
    border: solid 3px #a259f7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a259f7;
    
}


.sobre-duração{
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;    
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 20px;
    
}


.duração{
    width: 250px;
    height: 50px;
    border: solid 3px #a259f7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a259f7;
    
}


.sobre-desafios{
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 20px;

}


.desafios{
    width: 250px;
    height: 50px;
    border: solid 3px #a259f7;
    color: #a259f7;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.endereco {
    padding: 40px 0;
    background-image: url(imagem-fundo-ranking.jpg);
    }
   
    
    .conteudo-endereco {
    margin: 0 auto;
    max-width: 850px;
    position: relative;
    }
    

    .conteudo-endereco h2 {
    color: #FFAF00;
    font-size: 50px;
    font-weight: 500;
    }
    

    .texto-endereco {
    color: #A259F7;
    font-family: 'Courier New', Courier, monospace;
    background-color: #010010;
    border: solid 2px #A259F7;
    padding: 55px 55px;
    }
    

    .texto-endereco p {
    width: 400px;
    font-size: 20px;
    }
    

    .mapa {
    width: 250px;
    position: absolute;
    top: 0px;
    right: 20px;
    }

    
@media screen and (max-width: 768px)  {
    .conteudo-total {   
        display: flex;     
        flex-direction: column;
        justify-content: center;
        align-items: center;      
    }  
    
    .conteudo-dois{
        display: flex;
        flex-direction: column;
        height: 800px;
        width: 100%; 
    }

    .texto{
        width: 100%;
    }

    .subtitulo{
        width: 100%;
        height: 200px;
    }

    .participantes{
        height: 60px;
        width: 100%;
    }

    .conteudo-um{
        display: flex;
        justify-content: center;
        height: 800px;
        width: 100%;
    }

    .sobre-nos{
        width: 100%;
        height: 80px;
        display: flex;
        align-items:center;
        justify-content: center;
        font-size: 55px;
    }

    .imagem-senai{
        width: 100%;
        height: 500px;
    }

    .banner-conteudo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center ;
    }

    .mouse{    
        width:100% ;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .banner-conteudo-texto h1{
        font-size: 50px;
        display: flex;
        justify-content: center;
    }

    .conteudo-tres{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .duração{
        background-color: black;
        height: 100px;
        width: 100%;
    }

    .local{
        background-color: black;
        height: 100px;
        width: 100%;
    }

    .desafios{
        background-color: black;
        height: 100px;
        width: 100%;        
    }

    .sobre-localização{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .localização{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .localização span{
        width: 100%;
    }

    .mapa{
        position: relative;
        right: -0px;
        top: -2px;
        width: 100%;
    }         

     .conteudo-endereco{
      display: flex;
      flex-direction: column;
     }
      
     .sobre-endereco{
         width: 100%;
         height: 67px;  
     }

     .sobre-mapa{
         display: flex;
         align-items: center;
         justify-content: center;
         width: 100%;
         height: 350px;   
     }

    nav{
        visibility: hidden;
    }

    .conteudo-banner{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fa-bars {
       color: white;
    }
    
}

