* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

h1{
      color:aliceblue;
      font-family: Arial;
      font-size: 80px;



}

/** margim de conteudo especifico, para centralizar na tela */
.container-grid {
    width: 90%;
    margin: 0 auto;
    
    
    
}


/**  estilo e formatação do conteudo do header da pagina web */
header {
    background-color: #F9003D;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 99;
}

/**  alinhamento e posicionamento dos filhos do nosso header */
.conteudo-header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    
    
    
}

/**  tamanha da imagem do logo */
.logo {
    height: 40px;
}


/**  Estilo e formatação do conteudo do nosso banner */
.banner {
    background-image: url(imagem-fundo-banner.jpg);
    height: 768px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/**  posicionamento e alinhamento para determinar a posição dos elementos de texto */
.conteudo-banner {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.banner-conteudo-texto{        
    height: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    
}

.linha-amarela{
    border: solid 1px #FFAF00
    


}
/** minha pagina web */
.sub-texto-banner{
    font-family: 'Courier New', Courier, monospace;
    color:#F9003D;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    

}  


.mouse{
    width: 80px;



}


.menu-de-navegacao{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    



}

/** uma forma de alterar uma propriedade dentro de uma classe */
.menu-de-navegacao a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-transform: uppercase;



}

