html, body {
    margin:0;
    padding:0;
    height:100%;
    font-family: arial;
}
header {
    width: 100%;
    height: 80px; 
    background-color: rgb(255, 0, 0);
    display: flex;
    align-items: center;
}

.conteudo-header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.logo {
   height: 50px;
   background-color: rgb(0, 0, 0)
}

.banner {
  background-image: url(imagem-fundo-banner.jpg);
  height: 768px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
}

.container-grid {
    width: 80%;
    margin: 0 auto;
}

.conteudo-banner {
    display: flex;
    align-items: flex-end;
    height: 100%;
    color: magenta;
}

h1 {
    color: aliceblue;
    font-size: 80px;
}

.banner-conteudo-texto {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.linha-amarela {
    border: solid 1px #ffAf00;
}

.sub-texto-banner {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    color: rgb(255, 0, 0);
    font-weight: 600;
    font-size: 50px;
}

.mouse {
    width: 80px;
}

.menu {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
}
