html, body {
    margin:0;
    padding: 0;
    font-family: Arial;
}

/** CABEÇARIO DO SITE*/
header {
   background-color: #ff0000;
   height: 80px;
   position: fixed;
   width: 100%;
   z-index: 999;
}

/** ESTILIZA O CABEÇARIO DO SITE*/
.conteudo-header{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    
}

.logo {
    height:  50px;
    background-color: rgb(255, 0, 0);  

}

   

   /** ESTILIZA O FUNDO DO SITE*/
   .banner{
    background-image: url(imagem-fundo-banner.jpg);
    height: 768px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
   }


    /** CENTRALIZAR CONTEUDOS EM LUGARES DIFERENTES, SEM BORDA*/
   .container-grid{
    width: 80%;
    position: relative; 
    margin: 0 auto;
    
   }

   /** DIV DA NAV, LOGO DO SENAI*/
   .conteudo-banner{
    display: flex;
    align-items: flex-end;
    
    height: 100%;
   }

   .textobanner{
    display: flex;
    flex-direction: column;
    height: 60%;
   }

   h1 {     
    font-size: 70px;
    color: white;
   }

   /** PAI DOS CONTEUDOS DENTRO DO BANNER*/
   .banner-conteudo-texto{ 
       display: flex;
        height: 60%;
        flex-direction: column;
        justify-content: space-around;
   }

   .mouse{
       width: 80px;
   }


   .linha{
    border: solid 1px #FFAF00;
   }


   /** MODIFICA O ESTILO DO TEXTO DO BANNER */
   .subtextobanner{ 
    font-family: 'Courier New', Courier, monospace;
    color: #F9003D;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
   }


   nav{ 
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
   }

   nav a:hover:not(botao-contato){
    transition: 2s;
    font-size: 1em;

   }


nav a{ /** MODIFICA APENAS O TEXTO DO CABEÇARIO (NAV)*/
    text-decoration: none;   
    height: 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
  }
  
  .botao-contato { 
    background-color: #A259F7;
    height: 45px;
    width: 150px;
    border: solid 1px #080324;
    display: flex;
    justify-content: center;
    align-items: center;
     } 

     .botao-contato:hover {
    font-size: 1.2em !important;
    height: 50px;
    line-height: 53px;
    width: 160px;
    transition: 0.5s;
    box-shadow: 4px 4px 6px #0000007a;
    }

    .sobre-nos{
        display: flex;
        align-items: row;
    }

    .ladoesquerdo{
      background-color: rgba(7, 0, 17);
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .ladodireito {
     background-color: rgba(7, 0, 17);
     width: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
    
    }

   .imagem-carro {
      width: 90% ;
      
   } 

   .ladoesquerdoconteudo {
       background-color: rgba(7, 0, 17);
       width: 80%;
   }

   .ladodireitoconteudo {
     background-color: rgba(7, 0, 17);
    width: 80%;
}

.textoporsche {
    color: rgb(215, 252, 9);
}
