html, body {
    margin: 0;
    padding: 0;
    height: 100%;   
}
/** modifica a largura,altura,cor do fundo,alinha itens,define a posiçao fixa,sobrepoe o nosso cabeçario*/
header { 
    width: 100%;
    height: 80px;
    background-color: #FF0000;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
}
/** modifica os conteudos do nosso menu*/
.menu {
    display: flex;
    width: 50%;
    align-items: center ;
    justify-content: space-around; 
    
}
/** acrescentou o efeito no menu*/
.menu a:hover:not(.botao-contato) {
    font-size: 20px;
    transition: 1s;



}
/** define as formataçoes do nosso botao de contato*/
.botao-contato {
    height: 45px;
    width: 150px;
    background-color:#A259F7;
    text-align: center;
    line-height:47px;
    font-size: 1em;
    border:solid 1px #080324;
}
.botao-contato-hover {
    font-size: 1.2em;
    height: 50px;
    line-height: 53px;
    width: 160px;
    transform: 0.5s;
    box-shadow: 5px 5px 6px  #0000007a;
}






/** modifica o conteudo do header ou cabeçario*/
.conteudo-header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
/** modifica nossa logo*/
.logo {
    height: 40px;
    background-color: #FF0000;    
}
/** Estilo e formataçao do nosso banner*/
.banner {
    background-image: url("imagem-fundo-banner.jpg");
    height: 768px;
    background-repeat: no-repeat;  
    background-size: cover;
    display: flex;
    align-items:flex-end;
    z-index: 999;      
}
/** posicionamento e alinhamento para determinar a posiçao dos elementos do banner*/
.conteudo-banner {
    display: flex;
    align-items: flex-end;
    height: 100%;
        
       


}
/** alinha e centraliza o conteudo do nosso texto */
.conteainer-grid {
    width: 90%;
    position: relative;
    margin: 0 auto;
    
}
/** agrupa o conteudo dos textos e imagens do nosso banner*/
.banner-conteudo-texto {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: space-around;
    
}
/** coloca uma linha amarela*/
.linha-amarela {
    border: solid 1px #FFAF00;



}
/** define o sub texto do nosso banner*/
.sub-texto-banner {
     font-family: Arial, Helvetica, sans-serif;
     color: #f9003d;
     font-size: 40px;
     text-transform: uppercase;
     font-weight: 600;
}
/** define o tamanho da imagem do mouse*/
.mouse{
    width: 80px;

}




 /** formata a fonte, o tamanho da fonte, e a cor*/
h1 {
    font-size: 80px;
    color: #FFFAFA;
    font-family: Arial, Helvetica, sans-serif;
    
}


/** formata os links do nosso menu, sem mexer no resto do site*/
.menu a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFAFA;



}
 
/**...... fim do nosso banner...... */

/**  pai a partir daqui eo inicio do nossa section/formatamos a largura alinha itens da cor ao fundo e coloca a direçao dos nossos conteudos*/
.sobre-nos-PAI {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #080324;   
}

/** o conteudo 0 apenas adiciona o display flex a seus filhos e reeaproveitei p conteainer grid e seus comandos*/
.conteudo-0 {
    display: flex;  

}

/** o conteudo 1 cria uma div e determina suas formataçoes*/
.conteudo-1 {

     width: 50%;
     height: 700px;
     background-color:  	#080324;
     font-size: 40px;    
}

/** o texto 1 determina as formataçoes do texto do nosso conteudo 1*/
.texto-1 {
    font-size: 45px;
    color: rgb(243, 8, 8);
    font-family: Arial, Helvetica, sans-serif;
   
}

/** a imagem 1 determina a largura e altura do nosso conteudo 1*/
.imagem-1 {
    width: 50%;
   
}

/* o conteudo 2 cria outra div para acrescentar textos e etc...**/
.conteudo-2 {
    width: 50%;
    height: 500px;
    background-color: 		#080324;
  

}
/** o texto 2 determina as formataçoes do texto do nosso conteudo 2*/
.texto-2 {
    color: #FFFAFA;
    text-transform: uppercase;  
    font-size: 35px; 
}

/** o texto 3 determina as formataçoes do texto do nosso conteudo 2*/
.texto-3 {
    width: 600px;
    color: #FFAF00;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

/** o texto 4 determina as formataçoes do nosso conteudo 2*/
.texto-4 {
    color: #FFFAFA;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.rodape{
    display: flex;
    align-items: center;
    color: #FFFAFA;
    width: 100%;
    height: 80px;
    background-color: #FF0000;
    justify-content: center;

}
