html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

  .header {
    width: 100%;
    height: 150px;
    background-color: red ;
    display: flex;
    align-items: center;
  }

  .logo {
      height: 50px;
      background-color: rgb(252, 6, 6);
  }
