html, body {
    margin:0;
    padding:0;
    height:100%;
    font-family: arial;
}
header {
    width: 100%;
    height: 80px; 
    background-color: rgb(255, 0, 0);
    display: flex;
    align-items: center;
    position: fixed;
}

.conteudo-header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.logo {
   height: 50px;
   background-color: rgb(0, 0, 0)
}

.banner {
  background-image: url(imagem-fundo-banner.jpg);
  height: 768px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
}

 /** ele alinha e centraliza a minha tela **/
.container-grid {
    width: 80%;
    margin: 0 auto;
}

.conteudo-banner {
    display: flex;
    align-items: flex-end;
    height: 100%;
    color: magenta;
}

h1 {
    color: aliceblue;
    font-size: 80px;
}

  /**posicionamento e alinhamento para a posição dos elementos de texto **/
.banner-conteudo-texto {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.linha-amarela {
    border: solid 1px #ffAf00;
}

 /** muda o tipo de letra, ele deixa as letras maiuculas, coloca cor, deixa a letra um pouco mais grossa, e o tamanho da fonte **/
.sub-texto-banner {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    color: rgb(255, 0, 0);
    font-weight: 600;
    font-size: 50px;
}

.mouse {
    width: 80px;
}

 /** alinha as palavras no centro, o tamanho, **/
.menu {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

 /**deixa as letras maiusculas e tira a linha do meu link **/
.menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: azure;
}

/** Que todos os meus menus se mecham e com cor e o meu com o quadrado não **/
.menu a:hover:not(.quadrado) {
    font-size: 30px;
    transition: 1s;
    color: black;
}

  /** faz um quadrado, coloca cor, alinha a palavra no centro **/
.quadrado {
    width: 150px;
    height: 45px;
    background-color: 	#8c00ff;
    border: solid 3px rgb(0, 0, 0);
    align-items: center;
    display: flex;
    justify-content: center;
}

.sobre-nos {
    flex-direction: row;
    display: flex;
    background-color: #000000;
}

.conteudo1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
}

.conteudo2 {
    width: 50%;
    color: aliceblue;
}

 /**coloquei cor no meu subtitulo **/
.conteudo2 h2 {
    color: rgb(4, 0, 255);
}

 /** alinhei e colori a minha escrita, coloquei tamanho e largura no meu quadrado **/
footer {
    height: 80px;
    width: 100%;
    background-color: rgb(255, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.sobre-nos-principal {
    display: flex;

}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url(imagem-fundo-info.jpg);
}

.bloco {
    width: 250px;
    height: 100px;
    color: rgb(250, 250, 250);
}

.conteudo-bloco {
    height: 60px;
    border: solid 3px rgb(183, 0, 255);
    align-items: center;
    display: flex;
    justify-content: center;
    width: 75%;
}

.endereco {
    display: flex;
    justify-content: center;
    background-image: url(imagem-fundo-info.jpg);
    height: 500px;
}

.local {
    width: 40%;
    height: 100px;
    color: rgb(251, 255, 0);
    display: flex;
    flex-direction: column;
}

.contato {
    height: 150px;
    border: solid 3px rgb(183, 0, 255);
    align-items: center;
    display: flex;
    justify-content: space-around;
    color: seashell;
}

.conteudoendereco {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.imagem-mapa {
    position:  relative;
    bottom: 80px;
}

.texto-endereco {
    margin: 30px;
    color: rgb(255, 0, 106);
}