
html, body {
    margin:0;
    padding: 0;
    font-family: Arial;
}

header {
   background-color: #ff0000;
   height: 80px;
   position: fixed;
   width: 100%;
   z-index: 999;
}

.conteudo-header{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;

}

.logo {
    
    height:  50px;
    background-color: rgb(255, 0, 0);  

}


   
   .texto{
    display: flex;
    flex-direction:column;
    height: 60%;
    justify-content: space-around;
    

   }

   .banner{
    background-image: url(imagem-fundo-banner.jpg);
    height: 768px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
   }



   .container-grid{
    width: 80%;
    position: relative; 
    margin: 0 auto;
    
   }

   .conteudo-banner{
    display: flex;
    align-items: flex-end;
    
    height: 100%;
   }

   .textobanner{
    display: flex;
    flex-direction: column;
    height: 60%;
   }

   h1 {     
    font-size: 70px;
    color: white;
   }

   .banner-conteudo-texto{
       display: flex;
        height: 60%;
        flex-direction: column;
        justify-content: space-around;
   }

   .mouse{
       width: 80px;
   }


   .linha{
    border: solid 1px #FFAF00;
   }

   .subtextobanner{
    font-family: 'Courier New', Courier, monospace;
    color: #F9003D;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
   }


   
       

   nav{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
   }


nav a{
    text-decoration: none;   
    height: 15px;
    font-family:Arial, Helvetica, sans-serif;
       font-size: 15px;
       color: white;
       text-transform: uppercase;
  }