html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
    display:flex;
    align-items: center;
    background-color:#FF0000;
    width: 100%;
    height: 80px;
}

.logo {   
    background-color:black;
    height: 40px;      
}

.conteudo {
    background-image: url(imagem-fundo-banner.jpg);
    height: 768px;
    background-repeat: no-repeat; 
    background-size: cover;    
}

.texto-banner {
   display: flex;
   flex-direction: column;
   width: 60%;
   
}