html, body{
    margin: 0;
    padding:0;
    height: 100%;
}



span {
    color: #f3ebeb;
    font-family: Arial;
    font-size: 300%;
}


p {

color: red;
font-family: Arial;
font-size: 200%;



}



.conteudo{

    background-image: url(imagem-fundo-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 768px;
    display:flex;
    align-items: center;
    
    
    
}



.nome{

width: 800px;
display: flex;
justify-content: center;
height:600px ;
align-items: center;
background-color: blue;

}




 .header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: red;

} 



.um{

 width: 500px;   
 display: flex;
 justify-content: center;
 height: 50px;

 

}







