    .menu {
        flex-direction: column;
        background-color: black;
        position: absolute;
        width: 100%;
        left: 0%;
        top: 80px;
        height: 200px;
        display: none;
    }
    .sobre-nos-principal {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .conteudo1 {
        width: 100%;
    }
    .conteudo2 {
        width: 100%;
    }
    .info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .conteudo-bloco {
        width: 100%;
    }
    .mapa {
        position: relative;
    }
    .texto-endereco {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .menu-barras {
        display: initial;
    }