body {
    font-family: 'Bebas Neue';
}

input, textarea {
    width: 100%;
}

#formContato button {
    width: 100%;
    margin-top: 10px;
}

button {
    height: 35px;
}

#formContato {
    background-color: #494949;
    border: 10px solid #505050;
    box-shadow: rgb(0, 0, 0) 10px 10px 10px;
}

.titulo {
    color: rgb(255, 0, 0);
    display: flex;
}

body {
    background-image: url(../image/imageviewer.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contato {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}

.sigam-sites {
    background-color: rgb(255, 0, 0);
    justify-content: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sigam {
    color: ghostwhite;
}

.sites {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-bottom: 15px;
}

.sites a {
    color:rgb(25, 0, 255);
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 100px;
}
.conteudoformcontato {
    position: relative;
    height: 100%;
    width: 100%;
}