
html, body {
    margin:0;
    padding: 0;
    font-family: Arial;
}

/** CABEÇARIO DO SITE*/
   header {
   background-color: #ff0000;
   height: 80px;
   position: fixed;
   width: 100%;
   z-index: 999;
}

/** ESTILIZA O CABEÇARIO DO SITE*/
.conteudo-header{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.logo {
    height:  40px;
    background-color: rgb(255, 0, 0);  
}

   /** ESTILIZA O FUNDO DO SITE*/
   .banner{
    background-image: url(../Image/imagem-fundo-banner.jpg);
    height: 768px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}

    /** CENTRALIZAR CONTEUDOS EM LUGARES DIFERENTES, SEM BORDA*/
   .container-grid{
    width: 80%;
    margin: 0 auto;    
}

   /** DIV DA NAV, LOGO DO SENAI*/
   .conteudo-banner{
    display: flex;
    align-items: flex-end;    
    height: 100%;
}

.textobanner{
    display: flex;
    flex-direction: column;
    height: 60%;
}

   h1 {     
    font-size: 70px;
    color: white;
}

   /** PAI DOS CONTEUDOS DENTRO DO BANNER*/
.banner-conteudo-texto{ 
    display: flex;
    height: 60%;
    flex-direction: column;
    justify-content: space-around;
}

.mouse{
    width: 80px;
}

.linha{
    border: solid 1px #FFAF00;
}

   /** MODIFICA O ESTILO DO TEXTO DO BANNER */
.subtextobanner{ 
    font-family: 'Courier New', Courier, monospace;
    color: #F9003D;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
}

    nav{    
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    nav a:hover:not(.quadrado) {
        font-size: 15px;
        transition: 2s;
    }

    nav a{ /** MODIFICA APENAS O TEXTO DO CABEÇARIO (NAV)*/
        text-decoration: none;   
        height: 15px;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 15px;
        color: white;
        text-transform: uppercase;
}

.quadrado:hover{
  font-size: 1.2em !important;
  height: 50px;
  line-height: 53px;
  width: 160px;
  transition: 0.5s;
  box-shadow: 4px 4px 6px #0000007a;
}

.quadrado{
    width: 160px;
    height: 45px;
    background-color: #a259f7;
    border: solid 1px black ;
    align-items: center;
    display: flex;
    justify-content: center;
}

     section{
        display:flex;
        flex-direction: row;
}

.carrinho{
    height: 240px;
    width: 500px;
    display: flex;
    border: solid 2px #F9003D;
}

.conteudo1{   
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.conteudo2{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 400px;
}

.cimadocarro{
    font-family: 'Courier New', Courier, monospace;
    color: #F9003D;
}

.partedebaixo{
   background-color: #ff0000;
   height: 80px;
   width: 100%;
   align-items: center;
   display: flex;
   justify-content: center;
}

.textobaixo{
    color: white
}

.ladodocarro{
    color: white
}

.ladodocarro2{
    font-family: 'Courier New', Courier, monospace;
    color: #f9bf00;
}

.info {
    display:flex;
    background-color: rgb(1, 0 ,19);
    padding-bottom: 40px;
}

.conteudo-info{
    color:white;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.box-conteudo{
    display: flex;
    justify-content: space-between;

}
.texto-info {
    color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border: solid 3px purple;
    font-family: 'Impact', fantasy;
}

.texto{
    font-family: 'Impact', fantasy
}

.endereco {
    padding: 40px 0;
    background-color: rgb(1, 0 ,19);
}
    
.conteudo-endereco {
    margin: 0 auto;
    max-width: 850px;
    position: relative;
}
    
.conteudo-endereco h2 {
    color: #FFAF00;
    font-size: 50px;
    font-weight: 500;
}
    
.texto-endereco {
    color: #A259F7;
    font-family: 'Courier New', Courier, monospace;
    background-color: #010010;
    border: solid 2px #A259F7;
    padding: 30px ;
 }

 .texto-endereco p {
    width: 400px;
    font-size: 20px;
}
    
.mapa {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 90px;
    right: 15px;
    border: solid 3px rgb(255, 238, 0)
}

.box-conteudo-sobrenos{
    display: flex;
}

.sobre-nos{
    background-color: rgb(1, 0 ,19);
    display: flex;
    width: 100%;
}

#icone-menu{
    visibility: hidden;
    color: white;
}
    