
html, body {
    margin:0;
    padding: 0;
    font-family: Arial;
}

/** CABEÇARIO DO SITE*/
header {
   background-color: #ff0000;
   height: 80px;
   position: fixed;
   width: 100%;
   z-index: 999;
}

/** ESTILIZA O CABEÇARIO DO SITE*/
.conteudo-header{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;

}

.logo {
    height:  50px;
    background-color: rgb(255, 0, 0);
}

   

   /** ESTILIZA O FUNDO DO SITE*/
   .banner{
    background-image: url(../image/imagem-fundo-banner.jpg);
    height: 768px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
   }


    /** CENTRALIZAR CONTEUDOS EM LUGARES DIFERENTES, SEM BORDA*/
   .container-grid{
    width: 80%;
    position: relative; 
    margin: 0 auto;
    
   }

   /** DIV DA NAV, LOGO DO SENAI*/
   .conteudo-banner{
    display: flex;
    align-items: flex-end;
    
    height: 100%;
   }

   .textobanner{
    display: flex;
    flex-direction: column;
    height: 60%;
   }

   h1 {     
    font-size: 70px;
    color: white;
   }

   /** PAI DOS CONTEUDOS DENTRO DO BANNER*/
   .banner-conteudo-texto{ 
       display: flex;
        height: 60%;
        flex-direction: column;
        justify-content: space-around;
   }

   .mouse{
       width: 80px;
   }


   .linha{
    border: solid 1px #FFAF00;
   }


   /** MODIFICA O ESTILO DO TEXTO DO BANNER */
   .subtextobanner{ 
    font-family: 'Courier New', Courier, monospace;
    color: #F9003D;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
   }


   nav{ 
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
   }


nav a{ /** MODIFICA APENAS O TEXTO DO CABEÇARIO (NAV)*/
    text-decoration: none;   
    height: 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
  }

  .botao-roxo{
    background-color: #7700ff;
    height: 45px;
    width: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: solid 1px black ;
    box-shadow: 4px 4px 6px #0000007a;
}

.animacao:hover{
    font-size: 1em !important;
    height: 50px;
    line-height: 53px;
    width: 160px;
    transition: 0.5s;
    box-shadow: 4px 4px 6px #0000007a;
}

.animacao3:hover{
    font-size: 1.2em !important;
    transition: 0.5s;
    background-color: transparent;

}

section {

    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);

 }

.sobre-nos {

    width: 50%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;    

}


 .titulo-sobre-nos-esquerdo{

    display: flex;
    color: rgb(255, 0, 0);
    font-style: italic;

   
}

.subtitulo-sobre-nos {
    display: flex;
    color: rgb(253, 173, 0);
   font-size: 50px;
}

.imagem-sobre-nos {  
    width: 80%;
    display: flex;
    border:solid 10px black;
    
    
}

.lado-esquerdo-sobre-nos {
    
    width: 50%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    


}

.lado-esquerdo-sobre-nos-conteudo {

    display: flex;
    flex-direction: column;
    width: 90%;  
}

.lado-direito-sobre-nos-conteudo {
    display: flex;
    flex-direction: column;

    
}
.titulo-sobre-nos-direito {
    color: rgb(255, 255, 255);




}

.texto-sobre-nos-esquerdo {

    color: white;
    display: flex;

}

.container-sobre-nos {
    display: flex;
    flex-direction: row;


}

.final-borda {

    background-color: red;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
 

.info{ 
    background-image: url(../image/imagem-fundo-info.jpg);
    display: flex;
    justify-content: space-around;
    


}

.conteudoinfo{ /** MUDA O CONTEUDO SOBRE OS PROJETOS*/
    margin: 50px;
    height: 250px;
    width: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    font-size: 25px;
    margin: 20px;
   
}

.bordainfo{
    display: flex; 
    width: 100%;
    height: 80px;
    border: solid 1px rgb(132, 0, 255);
    align-items: center;
    justify-content: center;
    background-color: transparent;  
    color: rgb(132, 0, 255);


}
    

.pai-mapa{
    color: rgb(132, 0, 255);
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   background-image: url(../image/imagem-fundo-info.jpg);
   width: 70%;
   justify-content:center ;
   font-family: 'Courier New', Courier, monospace;
   
   

   
   

}

.quadrado-endereço{ /** MUDA OS CONTEUDOS DENTRO DA BORDINHA DO ENDEREÇO*/
    border: solid 3px rgb(132, 0, 255);
    display: flex;
    flex-direction: row;
    background-image: url(../image/imagem-fundo-info.jpg);
    color: rgb(255, 255, 255);
    height: 200px;
    margin-bottom: 100px ;
    

}

.imagem-mapa{
    display: flex;
    align-items: flex-end;
    width: 29%;
    top: -40px;
    margin: 5px;
    position: absolute;
    right: 150px;
    
}   

.fundopartemapa{
    background-image: url(../image/imagem-fundo-info.jpg);
    display: flex;
    
}

#icone-menu{
    visibility: hidden;
    color: white;
}
