@media screen and (max-width: 1200px){
    .box-conteudo-sobrenos{
        flex-direction: column;
    }

    .sobre-nos {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .info .box-conteudo{
        flex-direction: column;
        align-items: center;    
        justify-content: center;
    }

    .conteudo-info{    
        color:white;
        display: flex;
        flex-direction: column;
    }
    
    .conteudoend{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    
    #icone-menu{
       display:initial;
   
    }

    nav{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0px;
        background-color: black;
        width: 100%;
        height: 500px;
        margin-top: 550px;
    }

    .texto1{
        border-bottom: solid 2px cyan;
        width: 78%;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 5%;
    }
}