html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

 header {
    
    background-color:#FF0000;
    width: 100%;
    height: 80px;
    z-index: 9999;
    position: fixed;
    

}

.logo {   
    background-color:black; 
    height: 50px;         
   
}

.banner {
    background-image: url(../image/imagem-fundo-banner.jpg);
    height: 768px;
    background-repeat: no-repeat; 
    background-size: cover;  
    z-index: 99;  
    display: flex;
}

.texto-banner {
   display: flex;
   flex-direction: column;
   width: 60%;
   
}

 body {
     font-family: Arial, Helvetica, sans-serif; 


    
}  
 /** PARTE CENTRAL, SEM BORDA, MEIO DA TELA **/
.container-grid {
    width: 80%;
    margin: 0% auto;
  
}
/** LOGO, IMAGEM DO SENAI, DIV DA NAV, CABEÇARIO, PRA NAVEGAR  **/
.conteudo-header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    


}
 /**IMAGEM DO FUNDO, PARTE CENTRAL (MEIO) **/
.conteudo-banner {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

/**TAMANHO DE TODOS H1**/
h1 {
    font-size: 70px;

}
/** DIV PARTE INFERIOR ESQUERDO **/
.banner-conteudo-texto {


    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
 
.mouse {
  height: 80px;

}

.linha {

    border: solid 1px yellow;

}

.subtexto-banner {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: rgb(240, 0, 0);
    text-transform: uppercase;
    font-weight: 600;
    
    
}

/** AREA DE NAVEGACAO, PESQUISA **/
 nav {
     width: 50%;
     display: flex;
     justify-content: space-around;
     align-items: center;
   
 }


nav a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    
}

.botao-roxo {
    font-size: 1em !important;
    height: 45px;
    width: 150px;
    display: flex;
    align-items: center;
    border:solid 1px #000000;
    background-color: #a259f7;
    justify-content: center;
    box-shadow:4px 4px 6px #0000007a;


}
/**animaçao barra de pesquisa **/
.animacao:hover {
    font-size: 1.2em !important;
    height: 50px;
    width: 150px;
    transition: 1s;
    box-shadow: 4px 4px 6px black;
    line-height: 53px;

}

nav a:hover {

    font-size: 1.2em !important;
    transition: 1s;
    background-color: transparent;
}

/** personalização do section **/
.section-index {

    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);


 }
/** meio da div (sobre nos)**/
.sobre-nos {

    width: 50%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;    
}
   
 .titulo-sobre-nos-esquerdo{

    display: flex;
    color: rgb(255, 0, 0);
    font-style: italic;

   
}

.subtitulo-sobre-nos {
    display: flex;
    color: rgb(253, 173, 0);
   font-size: 50px;
}

.imagem-sobre-nos {  
    width: 80%;
    display: flex;
    border:solid 10px black;
    
    
}

.lado-esquerdo-sobre-nos {
    
    width: 50%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    


}

.lado-esquerdo-sobre-nos-conteudo {

    display: flex;
    flex-direction: column;
    width: 90%;  
}

.lado-direito-sobre-nos-conteudo {
    display: flex;
    flex-direction: column;


    
}
.titulo-sobre-nos-direito {
    color: rgb(255, 255, 255);


}

.texto-sobre-nos-esquerdo {

    color: white;
    display: flex;

}

.container-sobre-nos {
    display: flex;



}

.final-borda {

    background-color: red;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
 

.pai-quadradinho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    

    

}



.quadradinho {
    margin: 20px;
    height: 80px;
    width: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    font-size: 25px;
    margin: 20px;   
}

.conteudo-quadrado1 {
    
    display: flex; 
    width: 100%;
    height: 80px;
    border: solid 1px rgb(132, 0, 255);
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color:rgb(132, 0, 255);
}

.fundo-parte-quadrados {
    width: 100%;
    background-color:rgb(0, 0, 0) ;
}

.pai-mapa {
   
    color: rgb(255, 166, 0);
    display: flex;
    flex-direction: column;
    width: 70%;
    position: relative;
    justify-content:center;
    align-items: center;
    align-items: flex-end;
    
   
   
}

.fundo-parte-mapa { 
    width: 100%;
    background-color:rgb(0, 0, 0) ;
    display: flex;

}
  

.quadrado-endereço {

    border: solid  3px rgb(132, 0, 255);
    display: flex;  
    flex-direction: row;
    color: rgb(255, 255, 255);
    height: 200px;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
    

}

.imagem-mapa {  
    position: absolute;
    width: 200px;
    right:50px;



   
}

.conteudo-endereco {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#icone-menu {
    display: none;

}

                                            

    


